In [46]:
import pandas as pd
import collections
from itertools import combinations

In [47]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
989,tt1981677,17000000,115350426,Pitch Perfect,Anna Kendrick|Skylar Astin|Brittany Snow|Anna ...,Jason Moore,Get pitch slapped.,College student Beca knows she does not want t...,112,Comedy|Music|Romance,Brownstone Productions,9/28/2012,7.2,2012
1524,tt0462338,25000000,11772461,The Hoax,Richard Gere|Alfred Molina|Marcia Gay Harden|H...,Lasse HallstrÃ¶m,Never let the truth get in the way of a good s...,"In what would cause a fantastic media frenzy, ...",116,Comedy|Drama,Miramax Films|The Mark Gordon Company|Yari Fil...,10/14/2006,6.5,2006
35,tt1979388,175000000,331926147,The Good Dinosaur,Raymond Ochoa|Jack Bright|Jeffrey Wright|Franc...,Peter Sohn,Little Arms With Big Attitude,An epic journey into the world of dinosaurs wh...,93,Adventure|Animation|Comedy|Family|Fantasy,Walt Disney Pictures|Pixar Animation Studios|B...,11/14/2015,6.6,2015
395,tt0970866,100000000,310650585,Little Fockers,Robert De Niro|Ben Stiller|Owen Wilson|Dustin ...,Paul Weitz,"Kids bring everyone closer, right?","It has taken 10 years, two little Fockers with...",98,Comedy|Romance,Paramount Pictures|Universal Pictures|Everyman...,12/21/2010,5.4,2010
1845,tt0181875,60000000,47383689,Almost Famous,Kate Hudson|Billy Crudup|Frances McDormand|Jas...,Cameron Crowe,Experience it. Enjoy it. Just don't fall for it.,Almost Famous is an autobiographical inspired ...,122,Drama|Music,Columbia Pictures|Vinyl Films|DreamWorks Pictures,9/15/2000,7.3,2000

In [48]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [49]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue'] - data['budget']
months = {1: 'Январь', 2: 'Февраль', 3: 'Март', 4: 'Апрель', 5: 'Май', 6: 'Июнь',
          7: 'Июль', 8: 'Август', 9: 'Сентябрь', 10: 'Октябрь', 11: 'Ноябрь', 12: 'Декабрь'}
answers = {}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [50]:
# Извлекаем данные по условию 
display(data[data.budget == data.budget.max()].original_title.iloc[0])
answers['1'] = data[data.budget == data.budget.max()].original_title.iloc[0]
# +

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [51]:
# Группирование названий фильмов через максимальный бюджет по убыванию
display(data.groupby(['original_title'])['budget'].max().sort_values(ascending=False).index[0])

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [52]:
display(data[data.runtime == data.runtime.max()].original_title.iloc[0])
answers['2'] = data[data.runtime == data.runtime.max()].original_title.iloc[0]
# +

'Gods and Generals'

In [53]:
display(data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False).index[0])

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [54]:
display(data[data.runtime == data.runtime.min()].original_title.iloc[0])
answers['3'] = data[data.runtime == data.runtime.min()].original_title.iloc[0]
# +

'Winnie the Pooh'

In [55]:
display(data.groupby(['original_title'])['runtime'].max().sort_values(ascending=True).index[0])

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [56]:
display(data.runtime.mean())
answers['4'] = data.runtime.mean()
# +

109.6585494970884

In [57]:
# Выводим основные статистические характеристики данных
display(data.describe().loc['mean'][2])

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [58]:
# Выводим  медианное значение
display(data.runtime.median())
answers['5'] = data.runtime.median()
# +

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [59]:
display(data[data.profit == data.profit.max()].original_title.iloc[0])
answers['6'] = data[data.profit == data.profit.max()].original_title.iloc[0]
# +

'Avatar'

In [60]:
display(data.groupby(['original_title'])['profit'].max().sort_values(ascending=False).index[0])

'Avatar'

# 7. Какой фильм самый убыточный?

In [61]:
display(data[data.profit == data.profit.min()].original_title.iloc[0])
answers['7'] = data[data.profit == data.profit.min()].original_title.iloc[0]
# +

'The Lone Ranger'

In [62]:
display(data.groupby(['original_title'])['profit'].max().sort_values(ascending=True).index[0])

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [63]:
# Сортируем по условию и считаем длину
display(len(data[data.profit > 0]))
answers['8'] = len(data[data.profit > 0])
# +

1478

In [64]:
# Сортируем через запрос сравнения и считаем длину
len(data.query('profit>0'))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [65]:
# Извлекаем данные по условию
display(data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title.iloc[0])
answers['9'] = data[data.revenue == data[data.release_year == 2008].revenue.max()].original_title.iloc[0]
# +

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [66]:
# Проводи сортировку по периуду времени
profit_min = data.loc[(data['release_year'] <= 2014) & (data['release_year'] >= 2012)].copy()
# Извлекаем данные по условию
display(profit_min[profit_min.profit == profit_min.profit.min()].original_title.iloc[0])
answers['10'] = profit_min[profit_min.profit == profit_min.profit.min()].original_title.iloc[0]
# +

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [67]:
# Объединяем все строки столбца genres
data_genres = data.genres.str.cat(sep='|')
# преобразовываем к series
data_genres_series = pd.Series(data_genres.split('|'))
# Считаем количество
display(data_genres_series.value_counts().index[0])
answers['11'] = data_genres_series.value_counts().index[0]
# +

'Drama'

ВАРИАНТ 2

In [68]:
display(collections.Counter(data.genres.str.cat(sep='|').split('|')).most_common()[0][0])

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [69]:
# Проводим сортировку по условию
data_genres_profit = data[data.profit > 0].copy()
display(collections.Counter(data_genres_profit.genres.str.cat(sep='|').split('|')).most_common()[0][0])
answers['12'] = collections.Counter(data_genres_profit.genres.str.cat(sep='|').split('|')).most_common()[0][0]
# +

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [70]:
# Создания копии объекта
data_direcor = data.copy()
# Преобразуем колонку
data_direcor['director'] = data_direcor['director'].apply(lambda x: x.split('|'))
# Создаем для каждого режиссера свою строчку
data_director=data_direcor.explode('director')
# Группирование названий фильмов через сумму revenue по убыванию
display(data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False).index[0])
answers['13'] = data_director.groupby(['director'])['revenue'].sum().sort_values(ascending = False).index[0]
# +

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [71]:
# Отфильтровываем датафрейм и оставиляем строки genres в которых есть Action
data_genres_action = data[data.genres.str.contains('Action', na=False)].copy()
display(collections.Counter(data_genres_action['director'].str.cat(sep='|').split('|')).most_common()[0][0])
answers['14'] = collections.Counter(data_genres_action['director'].str.cat(sep='|').split('|')).most_common()[0][0]
# +

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [72]:
# Создали список с фильмами по условию
data_2012 = data[data.release_year == 2012].copy()
# Разделяем актеров
data_2012['cast'] = data_2012['cast'].str.split('|')
# Создаем для каждого актера свою строчку
data_2012 = data_2012.explode('cast')
# Выводим фильм
display(data_2012.groupby('cast').revenue.sum().sort_values(ascending=False).index[0])
answers['15'] = data_2012.groupby('cast').revenue.sum().sort_values(ascending=False).index[0]
# +

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [73]:
data_budget_meam = data[(data.budget > data.budget.mean())].copy()
display(collections.Counter(data_budget_meam.cast.str.cat(sep='|').split('|')).most_common(1)[0][0])
answers['16'] = collections.Counter(data_budget_meam.cast.str.cat(sep='|').split('|')).most_common(1)[0][0]
# +

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [74]:
data_NicolasCage = data.copy()
# Отфильтровываем  и оставляем строки cast в которых есть Nicolas Cage
data_NicolasCage = data_NicolasCage[data.cast.str.contains('Nicolas Cage')]
display(collections.Counter(data_NicolasCage['genres'].str.cat(sep='|').split('|')).most_common(1)[0][0])
answers['17'] = collections.Counter(data_NicolasCage['genres'].str.cat(sep='|').split('|')).most_common(1)[0][0]
# +

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [75]:
# Отфильтровываем  и оставляем строки production_companies с Paramount Pictures
data_profit_min = data[data.production_companies.str.contains('Paramount Pictures')].copy()
# Сортируем через профит
data_profit_min = data_profit_min.sort_values(by='profit', ascending=True)
# Выводим фильм по условию
display(data_profit_min.original_title.iloc[0])
answers['18'] = data_profit_min.original_title.iloc[0]
# +

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [76]:
# Группируем названия фильмов через суммированный profit по убыванию
display(data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0])
answers['19'] = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]
# +

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [77]:
# Отфильтровываем  и оставляем строки production_companies с Warner Bros
data_profit_sum = data[data.production_companies.str.contains('Warner Bros')].copy()
# Группирование названий фильмов через суммированный profit по убыванию
display(data_profit_sum.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0])
answers['20'] = data_profit_sum.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]
# +

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [78]:
# Создаем копию
data_monts = data.copy()
# Преобразуем колонку с резлизной датой
data_monts['release_date'] = data_monts['release_date'].apply(lambda x: x.split('/'))
# Берем каждый первый элемент и записываем в новую колонку month
data_monts['month'] = data_monts['release_date'].apply(lambda x: int(x[0]))
# Определяем колличество фильмов в каждом месяце
numbers_months = data_monts.month.value_counts()
# Выводим фильм с самым большим колличеством фильмов
display(months[numbers_months.index[0]])
answers['21'] = months[numbers_months.index[0]]
# +

'Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [79]:
# Создаем копию
data_summer = data.copy()
# Преобразуем колонку с резлизной датой
data_summer.release_date = data_summer.release_date.apply(lambda x: x.split('/'))
# Берем каждый первый элемент и записываем в новую колонку month
data_summer['month'] = data_summer['release_date'].apply(lambda x: int(x[0]))
# Выводим сумму фильмов летом 
print(len(data_summer[data_summer["month"].isin(["6", "7", "8"])]))
answers['22'] = len(data_summer[data_summer["month"].isin(["6", "7", "8"])])
# +

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [80]:
# Создаем копию
data_winter = data.copy()
# Преобразуем колонку
data_winter['release_date'] = data_winter['release_date'].apply(lambda x: x.split('/'))
# Берем каждый первый элемент и записываем в новую колонку month
data_winter['month'] = data_winter['release_date'].apply(lambda x: str(x[0]))
# Выводим сумму фильмов летом 
display(data_winter[data_winter.month.isin(['12', '1', '2'])].director.value_counts().index[0])
answers['23'] = data_winter[data_winter.month.isin(['12', '1', '2'])].director.value_counts().index[0]
# +

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [81]:
# Создаем копию
data_long_titles = data.copy()
# Содзаем колонку с длиной названий фильмов 
data_long_titles['original_title_len'] = data_long_titles['original_title'].apply(lambda x: len(x))
# Разделяем студии
data_long_titles['production_companies'] = data_long_titles['production_companies'].str.split('|')
#создаем для каждой студии свою строчку
data_long_titles = data_long_titles.explode('production_companies')
# Группируем и выводим результат по условию
display(data_long_titles.groupby(['production_companies']).original_title_len.mean().sort_values(ascending=False).index[0])
answers['24'] = data_long_titles.groupby(['production_companies']).original_title_len.mean().sort_values(ascending=False).index[0]
# +

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [82]:
# Создаем копию
data_long_mean = data.copy()
# Преобразуем колонку с описанием по колличеству слов
data_long_mean['overview'] = data_long_mean['overview'].apply(lambda x: len(x.split()))
# Разделяем студии
data_long_mean['production_companies'] = data_long_mean['production_companies'].str.split('|')
# Cоздаем для каждой студии свою строчку
data_long_mean = data_long_mean.explode('production_companies')
# Группируем и выводим результат по условию
display(data_long_mean.groupby(['production_companies']).overview.mean().sort_values(ascending=False).index[0])
answers['25'] = data_long_mean.groupby(['production_companies']).overview.mean().sort_values(ascending=False).index[0]
# +

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [83]:
# Создаем копию
data_one_percent = data.copy()
# Выполняем сортировку по vote_average
data_one_percent = data_one_percent.sort_values('vote_average')[['original_title', 'vote_average']]
# Находим 1% лучших по рейтингу
data_one_percent = data_one_percent.query('vote_average >= vote_average.quantile(0.99)').sort_values('vote_average', ascending=False)
# Выводим фильмы, которые подходят для ответа
display(data_one_percent['original_title'].iloc[[2,0,13]].values.tolist())
answers['26'] = data_one_percent['original_title'].iloc[[2,0,13]].values.tolist()

['Inside Out', 'The Dark Knight', '12 Years a Slave']

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [84]:
# Создаем копию
data_couple = data.copy()
# Разделяем актеров
data_couple['cast'] = data_couple['cast'].apply(lambda x: x.split('|'))
# Находим пары, создаем новую колонку
data_couple['pairs'] = data_couple['cast'].apply(lambda x: list(combinations(x, 2)))
# Создаем парам свои строчки
data_couple = data_couple.explode('pairs')
# Находим тех, кто чаще всего снимается вместе
display(collections.Counter(data_couple['pairs']).most_common(1)[0][0])
answers['27'] = collections.Counter(data_couple['pairs']).most_common(1)[0][0]
# +

('Daniel Radcliffe', 'Rupert Grint')

# Submission

In [85]:
display(answers)

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ['Inside Out', 'The Dark Knight', '12 Years a Slave'],
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [86]:
len(answers)

27